@include('admin.layouts.header')
    <div class="page_title_section dashboard_title">

        <div class="page_header">
            <div class="container">
                <div class="row small">

                    <div class="col-xl-9 col-lg-7 col-md-7 col-12 col-sm-7 d-flex align-items-end">
                        <h5 class="text-white static">Manage Wallet Balance</h5>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-sm-5">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="#"> Admin </a>&nbsp; / &nbsp; </li>
                                <li>Wallet Balance</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- inner header wrapper end -->
	@include('admin.layouts.sidebar')
        <!-- Main section Start -->
        <div class="l-main pt-lg-5 mt-lg-5 mb-lg-5">         
            <div class="d-none d-lg-block">
                <br><br><br>
            </div>
            <div class="plan_investment_wrapper float_left my-lg-2">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                        <div class="sv_heading_wraper">

                            <h4 class="text-dark">Wallet Balance</h4>

                        </div>

                    </div>
                    <div class="col-12">
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="sv_heading_wraper heading_center mb-3">

                                    <h5 class="text-dark">User wallet Balance : <span class="user-balance">$0.00</span></h5>
        
                                </div>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-12 col-md-8 page-content p-5 mb-5">
                                <div align="center">
                                    
                                        <div class="change_pass_field float_left">	
                                            <form class="page-form wallet-form">	
                                            <label>User</label>
                                                <div class="form-group user-wrapper">
                                                <select id="user-list" class="form-control user-list plain" name="name">
                                                    @foreach($users as $user)
                                                    <option data-balance="{{ $user['deposit_balance'] }}" value="{{ $user['name'] }}">{{ $user['name'] }}</option>
                                                    @endforeach
                                                </select>
                                            </div>
                                                <div class="change_field">
                                                    <label>Action</label>
                                                    <select class="w-100" name="action">
                                                        <option value="debit">Debit</option>
                                                        <option value="fund">Fund</option>
                                                    </select>
                                                </div>
                                                <div class="change_field">
                                                    <label>Amount</label>
                                                    <input type="text" name="amount" placeholder="Amount">
                                                </div>
                                                <div>
                                                    <button class="btn btn-primary w-100 input-rounded" type="submit">
                                                        <span class="form-loading d-none px-5">
                                                            <i class="fa fa-sync fa-spin"></i>
                                                        </span>
                                                        <span class='submit-text'>
                                                            submit
                                                        </span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                   
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        
                    </div>
                </div>

            </div>
            
            @include('admin.layouts.footer')
         </div>
       <!--  footer  wrapper end -->      
    <!-- main box wrapper End-->
    @include('admin.layouts.general-scripts')
    <script src="{{ asset('plugins/lobibox/js/lobibox.js') }}"></script>
    <script src="{{ asset('plugins/blockUi/jquery.blockUi.js') }}"></script>
    <script src="{{ asset('js/fn.js') }}"></script>
    <script src="{{ asset('js/admin.wallet-balance.js') }}"></script>
    <!--main js file end-->
</body>

</html>