<div class="form-group">
    <label class="text-label">Password</label>
    <div class="input-group transparent-append">
        <div class="input-group-prepend">
            <span class="input-group-text text-secondary" id="inputGroupPrepend3"> <i class="fa fa-lock" aria-hidden="true"></i> </span>
        </div>
        <input name="password" type="password" class="form-control" id="validationDefaultUsername11" placeholder="Password" aria-describedby="inputGroupPrepend3" required="">
        <div class="input-group-append c-pointer form-show-password">
            <span class="input-group-text text-secondary d-none show-eye">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </span>
            <span class="input-group-text text-secondary hide-eye">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</div>