@include('user.layouts.header')
    <div class="page_title_section dashboard_title">

        <div class="page_header">
            <div class="container">
                <div class="row small">

                    <div class="col-xl-9 col-lg-7 col-md-7 col-12 col-sm-7 d-flex align-items-end">
                        <h5 class="text-white static">My Account </h5>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-sm-5">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                                <li>My Account</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- inner header wrapper end -->
	@include('user.layouts.sidebar')
        <!-- Main section Start -->
        <div class="l-main">         
            <div class="account_top_information">
                <div class="account_overlay" style="background: #0a161bd1;"></div>
                <div class="useriimg"><img src="/images/user.png" alt="users"></div>
                <div class="userdet uderid">
                    <h3>{{ $user['name'] }}</h3>

                    <dl class="userdescc">
                        <dt>Name</dt>
                        <dd>: &nbsp; {{ $user['firstname'] }} {{ $user['middlename'] }} {{ $user['lastname'] }}</dd>
                        <dt>Email Address</dt>
                        <dd>: &nbsp; {{ $user['email'] }}</dd>
                        <dt>Registration Date</dt>
                        <dd>: &nbsp; {{ $user['created_at'] }}</dd>
                    </dl>

                </div>

                <div class="userdet profile user_transcation">
                    <h3>Transaction Info</h3>
                    <dl class="userdescc transaction-info">
                        <dt>Transaction</dt>
                        <dd>{{ $transactions->count() }}</dd>
                        <dt>Current Invested</dt>
                        <dd>:&nbsp;&nbsp; ${{ $user['currently_invested'] }}</dd>
                        <dt>Withdrawed</dt>
                        <dd>:&nbsp;&nbsp; ${{ $user['total_withdrawn'] }}</dd>
                        <dt>Referrals</dt>
                        <dd>:&nbsp;&nbsp;{{ $referrals->count() }}</dd>
                    </dl>
                </div>
            </div>
            <div class="d-none d-lg-block">
                <br><br><br>
            </div>
            <div class="plan_investment_wrapper float_left my-lg-2">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                        <div class="sv_heading_wraper">

                            <h4 class="text-dark">Account Settings</h4>

                        </div>

                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="sv_heading_wraper heading_center mb-3">

                                    <h5 class="text-dark">Edit Profile</h5>
        
                                </div>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-12 col-md-8 page-content p-5 mb-5">
                                <div align="center">
                                        <div class="change_pass_field float_left">
                                            <form class="page-form profile-form">					 
                                                <div class="change_field">
                                                    <label>Firstname :</label>
                                                    <input type="text" name="firstname" placeholder="Enter firstname" value="{{ $user['firstname'] }}">
                                                </div>
                                                <div class="change_field">
                                                    <label>Middlename :</label>
                                                    <input type="text" name="middlename" placeholder="Enter middlename" value="{{ $user['middlename'] }}">
                                                </div>
                                                <div class="change_field">
                                                    <label>Lastname :</label>
                                                    <input type="text" name="lastname" placeholder="Enter lastname" value="{{ $user['lastname'] }}">
                                                </div>
                                                <div>
                                                    <button class="btn btn-primary w-100 input-rounded" type="submit">
                                                        <span class="form-loading d-none px-5">
                                                            <i class="fa fa-sync fa-spin"></i>
                                                        </span>
                                                        <span class='submit-text'>
                                                            Save Settings
                                                        </span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                   
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>

            </div>
            
            @include('user.layouts.footer')
         </div>
       <!--  footer  wrapper end -->      
    <!-- main box wrapper End-->
    @include('user.layouts.general-scripts')
    <script src="{{ asset('plugins/lobibox/js/lobibox.js') }}"></script>
    <script src="{{ asset('js/fn.js') }}"></script>
    <script src="{{ asset('js/profile.js') }}"></script>
    <!--main js file end-->
</body>

</html>